
.icon-search:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-left:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-up-dir:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-left-dir:before { content: '\e80d'; } /* '' */
.icon-right-bold:before { content: '\e80e'; } /* '' */
.icon-left-bold:before { content: '\e80f'; } /* '' */
.icon-paper-plane-1:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e811'; } /* '' */
.icon-chart-bar-1:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-gmail:before { content: '\e815'; } /* '' */
.icon-buffer:before { content: '\e816'; } /* '' */
.icon-cart:before { content: '\e817'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e819'; } /* '' */
.icon-search-1:before { content: '\e81a'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-skype-1:before { content: '\f30b'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
