.button-menu-wrapper{
  display: flex;
}
.sidebar {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 100%;
}
/* Боковой панели ссылок */
.sidebar a {
  display: flex;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Активная/текущая ссылка */
.sidebar a.active {
  background-color: #e00e48;
  color: white;
}

/* Ссылки на мышь-над */
.sidebar a:hover:not(.active) {
  background-color: lightpink;
  color: white;
}

/* Стиль cсылок на вкладку */
.tablink {
  cursor: pointer;
  padding: 11px 16px;
  font-size: 14px;
  border: solid 1px lightpink;
  border-radius: 5px;
}

.button-menu{
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(228, 117, 117, 0.5);
  justify-content: space-between;
}

.tablink:hover {
  background-color: lightpink;
  color: white;
}

/* Стиль содержимого вкладки (и добавить высоту: 100% для полного содержимого страницы) */
.tabcontent {
  display: none;
  height: 100%;
}

.body-button-menu{
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(228, 117, 117, 0.5);
}
.content{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.content img{
  width: 100%;
}