.item-name-contact{
  color: #750202;
  padding-bottom: 15px;
}
.item-name-contact strong{
  font-size: x-large;
}

.item-name-contact p{
  text-align: center;
}

.item-name-contact li{
  color: #f36d6d;
}