
 .flex-btn{
  line-height: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #524f4e;
  background: #e6a7cb;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  transition: .3s;
}
.flex-btn:hover {
  background: rgb(167 33 33);
  box-shadow: 0 5px 15px #f36d6d;
  color: white;
  transform: translateY(-7px);
}