@import url('../font/css/fontello.css');
@import url('./slider_slider_main.scss');
@import url('./preloader.scss');
@import url('./hover_sociale.scss');
@import url('./hover_btn.scss');
@import url('./_puffIn.scss');
@import url('./banner_effect.scss');
@import url('./catalog.scss');
@import url('./footer.scss');
@import url('./header.scss');
@import url('./seach_box.scss');
@import url('./contacts.scss');
@import url('./error_page.scss');
@import url('./basket.scss');
@import url('./card.scss');
@import url('./burger.scss');
@import url('./collection.scss');
@import url('./product.scss');

*, body {
  -webkit-text-size-adjust: none;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing:border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

h1{
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

ul{
  list-style: none;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
}

button {
  background-color: #efa0afb8;
  padding: 5px 10px;
  border-radius: 7px;
}
.content{
  opacity: 0;
  transition: all 0.5s ease;
}
.content{
 /*  opacity: 1;
  transition: all 0.5s ease; */
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: minmax(auto, max-content) auto minmax(auto, max-content);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.mainly{
 /*  max-width: 1100px; */
  width: 80%;
  margin: 0px auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.icon-hover{
  transition: all 150ms linear;
  cursor: pointer;
}

.icon-hover:hover{
  color: #efa0af;
  text-decoration: none;
  text-shadow: -1px -1px 0 #524f4e;
  transition: all 250ms linear;
}

.empty-cart img{
  display: block;
  margin: 0px auto;
}
/******************** burger ************************/
.menu{
  width: 70%;
  height: auto;
  background: #efa0af;
  color: crimson;
  padding: 10px;
  position: fixed;
  left: -70%;
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 10;
}
.menu.animate{
  left: 60px;
  top: 25px;
}
.new-title-burger{
  display: flex;
  align-items: center;
}
.header-menu-burger{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-image: url(../../images/favicon.ico)
}
.menu li:hover{
  color: #f7f7f7;
  text-decoration: underline;
}
.menu li{
  padding: 10px;
}

/* @media(max-width: 380px){
  .menu{
    width: 220px;
  }
} */

.burger{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}
.burger span, .burger span:before, .burger span:after{
  width: 100%;
  position: absolute;
  height: 6px;
  background: #333;
  display: block;
  transition: .3s;
  border-radius: 5px;
}
.burger span:before{
  content: "";
  top: -12px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span{
  top: 30px;
}
.burger span:after{
  content: "";
  bottom: -12px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active{
  background: rgba(255, 255, 255, 0); 
}

/******************** Slider **************************/
.wrapper-promo-slider{
  position: relative;
}

img.slider-picture{
  object-fit: cover;
}

.picture{
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.slider-picture{
  transform: translateX(0px);
  height: 450px;
}

.promo-slider-text{
  text-align: center;
  width: 100%;
  align-self: center;
  position: absolute;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0rem;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#750202c2;
}

.btn-arrow-slider{
  display: inline-flex;
  font-size: 3em;
  width: 48px;
  height: 48px;
  opacity: 1;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;

}

.icon-angle-right:before {
  content: "\F105";
}

.icon-angle-left:before {
  content: "\F104";
}

arrow-slide{
  position: relative;
}

#arrow-slider-left{
  width:50px;
  height:50px;
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  color: #750202c2;
  
}

#arrow-slider-right{
  width:50px;
  height:50px;
  position:absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  color: #750202c2;

}


/**********************Special-products*************************/
.wrapper-product{
  padding: 5px;
  border: 1px solid white;
}

.wrapper-product:hover{
  border: 1px solid gray;
  border-radius: 7px;
}
.special-products-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner{
  padding: 40px 40px 20px;
}

.h2{
  line-height: 1.2;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 0px;
}

.icon-left-dir::before{
  content: "\E80D";
}

.icon-right-dir::before{
  content: "\E80C";
}

.special-products-slider-arrow-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.5;
  color:#efa0afb8;
}

.slider-list{
  display: flex;
}

.slider-slide{
  margin-right: 15px;
  width: 247.667px;
}

.product-preview-content{
  display:flex;
  flex-direction: column;
}
.product-preview-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-preview-price{
  margin-bottom: 0.5rem;
}

.product-preview-price-span{
  display: block;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
}

.product-preview-btn-title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#efa0afb8;
  cursor: pointer;
}

.margin-preview{
  margin-left: 0.3rem;
}
/***************************************************/


/************** Feedback ****************************/
.feedback{
  text-align: center;
}

.feedback-header{
  padding: 15px;
}
.feedback-fields-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  grid-gap: 15px;
}
.feedback-mуssage{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.feedback-form-control{
  width: 100%;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  font-size: 18px;
  color: #333333;
  height: 2em;
  padding: 20px;
  border-radius: 7px;
}
.feedback-textarea{
  resize: none;
  height: 115px;
  margin-bottom: 1rem;
}

.feedback-fields-error{
  font-size: 0.875rem;
  color: var(--color-error);
  text-align: left;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  padding-top: 1px;
}
.feedback-fields-div-input{
  margin-bottom: 2rem;
  text-align: left;
  position: relative;
  
}

.feedback-submit-btn{
  width: 150px;
}

.feedback-form{
  max-width: 680px;
  margin: 0 auto;
}

.btn{
  background: #efa0af;
  border: 1px solid #333333;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.5), 2px 4px 6px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 150ms linear;
  cursor: pointer;
}
.btn:hover{
  background: #efa0af;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.5);
  color: #f7f7f7;
  text-decoration: none;
  text-shadow: -1px -1px 0 #524f4e;
  transition: all 250ms linear;
}

/***************************************** Adaptive ********************************************/

@media only all and (max-width: 580px) {
  .header-area-logo{
    order: 1;
    align-self: str;
    flex-grow: 1;
    text-align: center;
  }
  .header-content-top-inner{
    flex-direction: column;
  }
  .header-content-bottom-inner{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  aside .search-container {
    max-width: 290px;
  }
  .flex-btn{
    line-height: 15px;
    font-size: 10px;
    text-transform:none;
    letter-spacing: 0px; 
    font-weight: 400;
  }
 
  .banner-photo-1 {
    /* max-width: 300px; */
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .banner-photo-2 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .banner-photo-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  }
  .banner-photo-4 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .banner-photo-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .banner-photo-6 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5;
  }
}

@media only all and (max-width: 780px) {
  .header-search-form, .icon-user,.icon-compare{
    display: none;
  }
  .new-title-burger .header-search-form{
    display: block;
  }
  .new-title-burger .icon-user{
    display: block;
  }
  .new-title-burger .icon-compare{
    display: block;
  }
  .product-foto{
    margin: 0px auto;
  }
  .product-title{
    flex-direction: column;
  }
  .product-preview-btn  .icon-cart{
    display: none;
  }
}

@media only all and (max-width: 960px) {
  .burger{
    display: block;
  }
  .header-menu, .header-content-top{
    display: none;
  }
  .header-search-field{
  display: none;
  }
  .header-btn-search{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .header-area-controls{
    padding: 10px;
  }
  
}

/****************LogIn************************/

.login-box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  h1 {
    color: rgb(38, 132, 255);
    fill: rgb(0, 82, 204);
    height: 40px;
    position: relative;
    user-select: none;
    text-align: center;
    padding: 40px 0px 10px 0;
  }
  a {
    display: block;
    text-align: center;
  }
}

.login-box-form {
  display: flex;
  flex-direction: column;
  margin: 40px auto auto auto;
  width: 400px;
  padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 10%) 0px 0px 10px;
  box-sizing: border-box;
  color: rgb(94, 108, 132);
  .login-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
    color: rgb(94, 108, 132);
    font-size: 16px;
  }
  #login {
    margin: 0;
  }
  div.wrap-input-btn {
    margin-top: 20px;
    button {
      -webkit-box-align: baseline;
      align-items: baseline;
      border-width: 0px;
      border-radius: 3px;
      box-sizing: border-box;
      display: inline-flex;
      font-size: inherit;
      font-style: normal;
      font-family: inherit;
      font-weight: 500;
      max-width: 100%;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background 0.1s ease-out 0s,
        box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      white-space: nowrap;
      background: rgb(0, 82, 204);
      cursor: pointer;
      padding: 0px 10px;
      vertical-align: middle;
      width: 100%;
      -webkit-box-pack: center;
      justify-content: center;
      color: rgb(255, 255, 255) !important;
      height: 40px !important;
      line-height: 40px !important;
      &:hover {
        background: rgb(0, 101, 255);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        color: rgb(255, 255, 255) !important;
      }
    }
  }
  div.wrap-input {
    margin-top: 8px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    /* display: flex; */
    flex: 1 1 100%;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s,
      border-color 0.2s ease-in-out 0s;
    overflow-wrap: break-word;
    vertical-align: top;
    pointer-events: auto;
    .email-input,
    .password-input {
      padding: 8px 6px;
      height: 2.57em;
      background-color: transparent;
      border: 0px;
      box-sizing: border-box;
      color: inherit;
      cursor: inherit;
      font-size: 14px;
      min-width: 0px;
      outline: none;
      width: 100%;
      line-height: 1.42857;
      &:focus {
        background-color: rgb(255, 255, 255);
        border-color: rgb(76, 154, 255);
      }
    }
  }
  .another-links {
    color: rgb(107, 119, 140);
    padding-top: 16px;
    margin-top: 32px;
    border-top: 1px solid rgb(213, 216, 222);
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }
}
