@import url('../font/css/fontello.css');

*{
  padding: 0;
  margin: 0;
  border: 0;
}

a{
  text-decoration: none;
  color: inherit;

}


body{
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
 
  
}

button:hover{
  background-color: #efa0af6e;
  transition: all 1s ease-out;
}
span.icon{
  padding: 4px;
}
span.icon:hover{
  border: 2px solid #efa0af6e;;
  border-radius: 50px;
  padding: 3px;
  color: #efa0afb8;
  background-color: white;
  transition: all 1s ease-out;
}
/***************** preloader***************/

  #preloader {
  opacity:  0;
    height: 60px;
    width: 60px;
    position: absolute;
    top: calc(50vh - 30px);
    left: calc(50% - 30px);
    margin-top: -20px;
    margin-left: -20px;
  }
  #preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    animation: rotation 1s linear infinite;
    border: 2px solid rgb(7, 71, 166);
    border-top: 1px solid transparent;
    border-radius: 100%;
  }
  #preloader > .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    animation: wink 1s ease-in-out infinite alternate;
  }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
  @keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content{
  opacity: 1;
  transition: all 0.5s ease;
}
/**************************************/

.content{
  
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: minmax(auto, max-content) auto minmax(auto, max-content);
    grid-template-areas:
        "header"
        "main"
        "footer";

}

.mainly{
  max-width: 1100px;
  margin: 0px auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.header-content{
  display: flex;
  flex-direction: column;
}

.header-content-top{
background-color: #f7f7f7;
}
.header-content-top-inner{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.header-menu-item{
  list-style-type: none;
  padding-right: 5px;
}

.header-menu{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}


.header-content-bottom-inner{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.logo-img{
width: 215px;
}

.icon-search-1:before{
  content: "\E81A";
}

.icon-bars:before{
  content: "\E811";
}

.icon-user:before {
  content: "\E852"
}

.icon-compare:before{
  content: "\E804";
}

.icon-cart:before {
  content: "\E818";
}
.icon{
  font-size: 1.75rem;
  position: relative;
}

.header-cart-empty{
  min-width: 1.125rem;
  height: 1.125rem;
  padding: 0 3px;
  line-height: 1.125rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}

a{
  text-decoration:none;
}

.header-btn-catalog{
  display: inline-flex;
  align-items: center;
  background-color: #efa0afb8;
  border-radius: 6px;
  padding: 0px 10px;
  cursor: pointer
}

.header-search-field{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
  width: 150px;
  flex-grow: 1;
  cursor: pointer;
  border: solid 1px gray;
}

.header-search-form{
display: flex;
}

.header-btn-search{
  position: relative;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #efa0afb8;
  padding: 5px 10px;
}

/******************** Slider **************************/
.wrapper-promo-slider{
  position: relative;
}

img.slider-picture{
  object-fit: cover;
}

.picture{
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.slider-picture{
  transform: translateX(0px);
  height: 450px;
}

.promo-slider-text{
  text-align: center;
  width: 100%;
  align-self: center;
  position: absolute;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0rem;
  z-index: 2;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#750202c2;
}

.btn-arrow-slider{
  display: inline-flex;
  font-size: 3em;
  width: 48px;
  height: 48px;
  opacity: 1;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;

}

.icon-angle-right:before {
  content: "\F105";
}

.icon-angle-left:before {
  content: "\F104";
}

arrow-slide{
  position: relative;
}

#arrow-slider-left{
  width:50px;
  height:50px;
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  color: #750202c2;
  
}

#arrow-slider-right{
  width:50px;
  height:50px;
  position:absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
  color: #750202c2;

}

/**********************Special-products*************************/

.special-products-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2{
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.icon-left-dir::before{
  content: "\E80D";
}

.icon-right-dir::before{
  content: "\E80C";
}

.special-products-slider-arrow-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.5;
  color:#efa0afb8;
}

.slider-list{
  display: flex;
}

.slider-slide{
  margin-right: 15px;
  width: 247.667px;
}

.product-preview-content{
  display:flex;
  flex-direction: column;
}
.product-preview-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product-preview-price{
  margin-bottom: 0.5rem;
}

.product-preview-price-span{
  display: block;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
}

.product-preview-btn-title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#efa0afb8;
  cursor: pointer;
  height: 2.5em;
}

.margin-preview{
  margin-left: 0.3rem;
}
/***************************************************/

/***************** Banner **********************/
.banner-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row: auto;
  grid-gap: 15px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-photo-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.banner-photo-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.banner-photo-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.banner-photo-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.banner-photo-5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.banner-photo-6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
/************** Feedback ****************************/
.feedback{
  text-align: center;
}
.feedback-fields-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  grid-gap: 15px;
}
.feedback-mуssage{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.feedback-form-control{
  width: 100%;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  font-size: 18px;
  color: #333333;
  height: 2em;
}
.feedback-textarea{
  resize: none;
  height: 115px;
  margin-bottom: 1rem;
}

.feedback-fields-error{
  font-size: 0.875rem;
  color: var(--color-error);
  text-align: left;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  padding-top: 1px;
}
.feedback-fields-div-input{
  margin-bottom: 2rem;
  text-align: left;
  position: relative;
  
}

.feedback-submit-btn{
  min-width: 250px;
  cursor: pointer;
  height: 2em;
  background-color: #efa0afb8;
  border-color: #f7f7f7;
  font-size: 18px;
  color: #333333;
}

.feedback-form{
  max-width: 680px;
  margin: 0 auto;
}

.border-radius{
  border-radius: 7px;
}

/**************************************/
/* .feedback-fields-div{

} */
/***************** Footer ***************************/
.star{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.inline{
  width: 100%;
  border-bottom: 1px solid rgba(192, 20, 20, 0.5);
  margin-top: 5px;
  margin-bottom: 5px ;
}

.footer-wrap{
  display: grid;
}

.footer-content{
  background-color: #f7f7f7;
}
.footer-content-top{
  display: grid;
  grid-template-areas: "menu sidebar";
  gap: 2rem;
  padding-bottom: 1.5rem;
  grid-template-columns: auto 395px;
}


.social-items{
  display: flex;
  flex-wrap: wrap;
}

.icon-paper-plane:before {
  content: "\F1D8";
}

.icon-vkontakte:before {
  content: "\F189";
}

.footer-menu-item{
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.footer-menu-title{
  display: grid;
  padding-right: 5rem;
  padding-bottom: 1rem;
  gap: 0.75rem;
  grid-auto-rows: max-content;
}

.footer-area-social{
  grid-area: social;
    padding-bottom: 2rem;
}

.footer-area-contacts{
  grid-area: contacts;
    display: grid;
}

.title{
  font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
}
.social-items{
  display: flex;
    flex-wrap: wrap;
}

.social-img-item{
  max-height: 40px;
  margin: 0.5rem 1rem 0.5rem 0;
}

.header-phone-value{
  color: black;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}